<div class = "main">
  <h2 class="logo"><%= t('main') %></h2>
</div>

<div class="row">
  <div class="large-4 columns">
    <%= image_tag('responsive.png', width: "30%", alt: "Design Consulting", class: "large-icon push-3") %>
    <h4><%= t('title1') %></h4>
    <p><%= t('message1') %></p>
  </div>
  <div class="large-4 columns">
    <%= image_tag('icon_27779.png', width: "30%", alt: "Development Integration", class: "large-icon push-3") %>
    <h4><%= t('title2') %></h4>
    <p><%= t('message2') %></p>
  </div>
  <div class="large-4 columns">
    <%= image_tag('icon_20399.png', width: "30%", alt: "Design_consulting", class: "large-icon push-3") %>
    <h4><%= t('title3') %></h4>
    <p><%= t('message3') %></p>
  </div>
</div>

  <div class="medium-8 columns panel">
    <div class="row">
      <h4>Nos outils favoris</h4>
      <% @images.each do |image| %>
        <div class="small-2 columns">
          <%= image_tag "technos/#{image.split('/').last}" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="medium-4 columns">
    <ul class="slide" data-orbit>
      <li>
          <%= image_tag('camille.png', width: "100%", alt: "camille", class:"team") %>
        <div class="orbit-caption">
          Camille
        </div>
      </li>
      <li>
          <%= image_tag('vincent.png', width: "100%", alt: "vincent", class:"team") %>
        <div class="orbit-caption">
          Vincent
        </div>
      </li>
      <li>
          <%= image_tag('personne.png', width: "100%", alt: "you", class:"team") %>
        <div class="orbit-caption">
          You
        </div>
      </li>
    </ul>
  </div>
</div>
  <!-- Call to Action Panel -->
<!-- <h3>Our Clients</h3>
-->

<div class="large-12 columns">
  <hr>
  <div class="panel">
    <div class="row">
      <div class="large-9 columns">
        <h4><%= t('contactus') %></h4>
        <p><%= t('contact_message') %></p>
      </div>
      <div class="large-3 columns">
        <br>
        <br>
        <a href="#" class="radius button right"><%= t('contact_button') %></a>
      </div>
    </div>
  </div>
</div>