<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1 class="logo"><a href="#" class="nav">Chopsticks<span class="co">.io</span></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right top-bar-ul">
        <li><%= link_to t('link_home').html_safe, root_path %></li>
        <li><%= link_to t('about').html_safe, home_about_path  %></li>
        <li><%= link_to t('projects').html_safe, contacts_path  %></li>
        <li><%= link_to t('contact').html_safe, contacts_path  %></li>
        <li class="has-dropdown">
          <a href="#"><i class="fi-flag"></i> Language</a>
          <ul class="dropdown">
            <li><%= link_to t('flag_fr').html_safe, root_path  %></li>
            <li><%= link_to t('flag_en').html_safe, root_path + "fr"  %></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>